.RegistrationForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.RegistrationForm-title {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}

.RegistrationForm-input-container {
  margin-bottom: 15px;
}

.RegistrationForm-input {
  width: 100%;
  padding: 8px; /* Adjusted padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Add box-sizing property */
}

.RegistrationForm-button,
.RegistrationForm-button-back {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.RegistrationForm-button {
  background-color: #ff9800;
  color: #fff;
}

.RegistrationForm-button-back {
  background-color: #ff0000;
  color: #fff;
}
