.banner {
  background-color: #ca803a;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  margin: 0;
}

.banner-search {
  flex: 1; 
  display: flex;
  align-items: center;
}

.banner-search input {
  width: 200px; 
  padding: 8px;
  margin-right: 10px;
  margin-left: 450px;
  border: none;
  border-radius: 4px;
}

.banner-search button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #663872;
  color: #fff;
  cursor: pointer;
}

.banner-controls {
  display: flex;
  align-items: center;
}

.banner-controls select {
  margin-right: 10px; 
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.banner-controls > * {
  margin-left: 10px; 
}
