/* LoginForm.css */

.LoginForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; 
}

.LoginForm-title {
  font-size: 24px;
  color: #007bff; 
  margin-bottom: 20px;
}

.LoginForm-input-container {
  margin-bottom: 15px;
}

.LoginForm-input {
  width: calc(100% - 20px); /* Adjusted width for input fields */
  margin: 0 auto; /* Centered input fields with margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.LoginForm-button,
.LoginForm-button-back {
  display: block;
  width: calc(100% - 20px); /* Adjusted width for buttons */
  margin: 10px auto; /* Centered buttons with margin */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
